{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'img/ITClogoWhite.png' %}" type="image/png">
    <meta name="description" content="Welcome to the IITB Tech Council. Explore our clubs, tech teams, other bodies, portals, achievements, and hall of fame. Contact us for more information.">
    <meta name="keywords" content="IITB, Tech Council, Clubs, Tech Teams, Portals, Achievements, Hall of Fame, Contact">
    <meta name="author" content="IITB Tech Council">
    <meta property="og:title" content="IITB Tech Council">
    <meta property="og:description" content="Explore the IITB Tech Council's clubs, tech teams, other bodies, portals, achievements, and hall of fame.">
    <meta property="og:image" content="{% static 'img/ITClogoWhite.png' %}">
    <meta property="og:url" content="https://tech-iitb.org">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="IITB Tech Council">
    <meta name="twitter:description" content="Explore the IITB Tech Council's clubs, tech teams, other bodies, portals, achievements, and hall of fame.">
    <meta name="twitter:image" content="{% static 'img/ITClogoWhite.png' %}">
    <title>ITC | {% block title %}IITB Tech Council{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'src/styles.css' %}" /> {% endcomment %}
    <script src="https://cdn.tailwindcss.com"></script>


    <script>
        tailwind.config = {
            theme: {
                extend: {
                    screens: {
                        xs: { max: "770px" },
                        nv: { min: "770px" },
                    },
                    
                },
            },
        };
    </script>
    <style>
        .hover-underline-animation {
            position: relative;
            display: inline-block;
        }
        .hover-underline-animation::before,
        .hover-underline-animation::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #3b82f6;
            border-radius: 4px;
            left: 0;
            transform: scaleX(0);
            transition: transform 0.5s ease;
        }
        .hover-underline-animation::before {
            top: 0;
            transform-origin: left;
        }
        .hover-underline-animation::after {
            bottom: 0;
            transform-origin: right;
        }
        .hover-underline-animation:hover::before,
        .hover-underline-animation:hover::after {
            transform: scaleX(0.85);
        }
    </style>
</head>

<body class="bg-black">
    <nav class="text-white bg-black sticky top-0 h-12 pt-2 z-50 border-b border-white">
        <div class="w-11/12 mx-auto flex justify-between items-center text-md text-thin">
            <a href="{% url 'home' %}" class="flex items-center">
                <img src="https://itc.gymkhana.iitb.ac.in/static/mainwebsite/ITClogoWhite.png"
                    alt="Logo.png Load Error" class="h-8 sm:ml-4 xs:ml-6" />
            </a>
            <button class="lg:hidden text-white" id="hamburger">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hamburger-icon block" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cross-icon hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>            
            <div class="hidden lg:flex items-center space-x-6 ml-auto" id="navbarNav">
                <div class="inline-flex shadow-sm" role="group">
                    <a href="{% url 'home' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Home
                        </button>
                    </a>
                    <a href="{% url 'club_list' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Clubs
                        </button>
                    </a>
                    <a href="{% url 'techteam_list' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Tech Teams
                        </button>
                    </a>
                    <a href="{% url 'otherbodies_list' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Communities
                        </button>
                    </a>
                    <a href="{% url 'portal_list' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Portals
                        </button>
                    </a>
                    <a href="{% url 'achievement_list' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Achievements
                        </button>
                    </a>
                    <a href="{% url 'halloffame_list' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Hall Of Fame
                        </button>
                    </a>
                    <a href="{% url 'contact' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Contact
                        </button>
                    </a>
                </div>
            </div>
            <div class="hidden bg-black w-full absolute top-12 left-0 lg:hidden z-50 transition-all duration-300 ease-in-out opacity-95" id="mobileMenu">
                <div class="flex flex-col items-center space-y-4 py-2">
                    <a href="{% url 'home' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Home
                        </button>
                    </a>
                    <a href="{% url 'club_list' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Clubs
                        </button>
                    </a>
                    <a href="{% url 'techteam_list' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Tech Teams
                        </button>
                    </a>
                    <a href="{% url 'otherbodies_list' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Other Bodies
                        </button>
                    </a>
                    <a href="{% url 'portal_list' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Portals
                        </button>
                    </a>
                    <a href="{% url 'achievement_list' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Achievements
                        </button>
                    </a>
                    <a href="{% url 'halloffame_list' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Hall Of Fame
                        </button>
                    </a>
                    <a href="{% url 'contact' %}" class="nav-link">
                        <button type="button"
                            class="px-4 py-2 text-sm font-medium text-white hover-underline-animation">
                            Contact
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </nav>    

    <main class="text-white w-full min-h-[90vh]">
        {% block content %} {% endblock %}
    </main>

    <footer class="text-white text-center py-4">
        <div class="flex flex-col items-center">
            <!-- <h1 class="text-white font-font text-center w-full text-xl mb-4">CONTACT US</h1> -->
            <div class="flex flex-col gap-8 item-center">
              <div class="flex flex-col sm:flex-row gap-4">
                <a class="flex gap-2" href="https://www.facebook.com/tech.iitb" target="_blank" rel="noopener noreferrer">
                  <img src="{% static 'img/facebook.svg' %}" alt="Facebook profile" />
                  <span class="text-white font-font">Facebook</span>
                </a>
                <a class="flex gap-2" href="https://www.instagram.com/tech.iitb" target="_blank" rel="noopener noreferrer">
                  <img src="{% static 'img/instagram.svg' %}" alt="Instagram profile" />
                  <span class="text-white font-font">Instagram</span>
                </a>
                <a class="flex gap-2" href="https://twitter.com/tech_iitb" target="_blank" rel="noopener noreferrer">
                  <img src="{% static 'img/twitter.svg' %}" alt="Twitter profile" />
                  <span class="text-white font-font">Twitter</span>
                </a>
                <a class="flex gap-2" href="tel:8128679781">
                  <img src="{% static 'img/phone.svg' %}" alt="Phone" />
                  <span class="text-white font-font">8128679781</span>
                </a>
                <a class="flex gap-2" href="mailto:gsectech@iitb.ac.in">
                  <img src="{% static 'img/mail.svg' %}" alt="Email" />
                  <span class="text-white font-font">gsectech@iitb.ac.in</span>
                </a>
              </div>
        
            
            </div>
          </div>
        <p class="mt-8">Developed by ITC Web Team with ❤️</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script>
        const hamburger = document.getElementById('hamburger');
        const mobileMenu = document.getElementById('mobileMenu');
        const hamburgerIcon = document.querySelector('.hamburger-icon');
        const crossIcon = document.querySelector('.cross-icon');
    
        hamburger.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
            hamburgerIcon.classList.toggle('hidden');
            crossIcon.classList.toggle('hidden');
        });
    </script>    
    
</body>

</html>