{% extends '_base.html' %}
{% block title %}{{ type }} | IITB Tech Council{% endblock %}
{% block description %}Explore {{ type }} managed by IITB Tech Council{% endblock %}
{% block og_title %}{{ type }} | IITB Tech Council{% endblock %}
{% block twitter_title %}{{ type }} | IITB Tech Council{% endblock %}
{% block twitter_description %}Learn more about {{ type }} under IITB Tech Council{% endblock %}

{% block content %}
<div class="bg-opacity-10 backdrop-blur-md shadow-lg flex w-screen xl:w-[90%] h-auto flex-col mt-28 mx-auto items-center">
  <div class="w-full text-white">
    <h1 class="text-6xl font-font mb-20 font-bold text-center">{{ type }}</h1>
    
    <!-- <div class="flex w-screen xl:w-[90%] h-auto flex-col m-28 items-center">
      <h1 class="text-white font-font font-bold text-6xl mb-20">PORTALS</h1> -->

    <div class="grid grid-cols-1 m-8 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-x-8 lg:gap-y-12">
      {% for body in bodies %}
      <a href="{% url 'body_detail' body.name %}" class="block transform transition duration-300 hover:scale-105">
        <div class="z-10 border border-gray-600 rounded-xl p-6 md:p-6 w-full mx-auto flex flex-col shadow-lg backdrop-filter backdrop-blur-lg bg-opacity-5">
          <div class="flex items-center">
            <img src="{{ body.logo.url }}" alt="{{ body.name }} Logo" class="w-20 h-20 md:w-24 md:h-24 rounded-full border-2 border-gray-500 mr-4 md:mr-6" />
            <h1 class="text-2xl md:text-2xl 2xl:text-4xl font-semibold text-white">{{ body.name }}</h1>
          </div>
          <div class="mt-2 text-center">
            <p class="text-sm md:text-base text-gray-300">{{ body.short_description }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
