{% extends '_base.html' %}
{% block title %}Portals | IITB Tech Council{% endblock %}
{% block description %}Explore the portals managed by IITB Tech Council{% endblock %}
{% block og_title %}Portals | IITB Tech Council{% endblock %}
{% block og_description %}Check out the portals created and maintained by the IITB Tech Council{% endblock %}
{% block twitter_title %}Portals | IITB Tech Council{% endblock %}
{% block twitter_description %}Explore the IITB Tech Council's portals{% endblock %}

{% block content %}
<div class="flex w-screen xl:w-[90%] h-auto flex-col mt-28 mx-auto items-center">
  <h1 class=" font-font font-bold text-6xl mb-20">PORTALS</h1>
  <div class="w-full h-full flex flex-row  flex-wrap items-center justify-center">
    {% for portal in portals %}
    <div class="w-[75vw] lg:w-[28%] m-8 p-4 border border-gray-500 rounded-2xl">
      <a href="{{ portal.link }}">
        <div class="flex flex-col items-center gap-4 m-2">
          {% if portal.banner %}
          <img
            class="w-full h-20 object-cover"
            src="{{ portal.banner.url }}"
            alt="{{ portal.name }} banner"
          />
          {% else %}
          <img
            class="w-full h-20 object-cover"
            src="#"
            alt="Default banner"
          />
          {% endif %}
          <span class=" text-2xl font-black">{{ portal.name }}</span>
        </div>
        <hr class="border-gray-500" />
      </a>
      <div class="m-2">
        <span class="">{{ portal.description }}</span>
      </div>
      <hr class="border-gray-500" />
      <div class="my-4 m-2 flex gap-2">
        {% for tech in portal.techstacks.all %}
        <div class="w-10 h-10 p-2 border border-gray-500 rounded-md">
          {% if tech.logo %}
          <img
            class="w-full h-full object-cover"
            src="{{ tech.logo.url }}"
            alt="{{ tech.name }} logo"
          />
          {% else %}
          <img
            class="w-full h-full object-cover"
            src="#"
            alt="Default logo"
          />
          {% endif %}
        </div>
        {% endfor %}  
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
