<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ITC Official Website{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/img/Title.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    screens: {
                        'xs': { 'max': '770px' },
                        'nv': { 'min': '770px' },
                    }
                }
            }
        }
    </script>
</head>
<body class="bg-black">
<nav class="bg-black text-white sticky h-8 mt-2 z-50">
        <div class="w-11/12 mx-auto items-center flex justify-between text-md text-thin">
            <a href="/Home.html" class="flex items-center">
                <img src="https://itc.gymkhana.iitb.ac.in/static/mainwebsite/ITClogoWhite.png" alt="Logo.png Load Error" class="h-6 mb-2 sm:ml-4 xs:ml-6">
            </a>
            <div class="flex items-center space-x-6 ml-auto mb-2 xs:hidden" id="navbarNav">
                <ul class="flex space-x-6">
                    <li><a href="{% url 'home' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Home</a></li>
                    <li><a href="{% url 'club_list' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Clubs</a></li>
                    <li><a href="{% url 'techteam_list' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Tech Teams</a></li>
                    <li><a href="{% url 'otherbodies_list' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Other Bodies</a></li>
                    <li><a href="{% url 'portal_list' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Portals</a></li>
                    <li><a href="{% url 'achievement_list' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Achievements</a></li>
                    <li><a href="{% url 'halloffame_list' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Hall Of Fame</a></li>
                    <li><a href="{% url 'contact' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Contact</a></li>
                </ul>
            </div>
            <button class="block nv:hidden text-white focus:outline-none ml-auto xs:mr-4" id="navbar-toggler">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                    </path>
                </svg>
            </button>
        </div>
        <div class="hidden absolute inset-x-0 top-8 bg-black bg-opacity-95 overflow-y-auto max-h-screen"
            id="mobileMenu">
            <div class="text-white ml-10 py-6 px-4">
                <ul class="space-y-6">
                    <li><a href="{% url 'home' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Home</a></li>
                    <li><a href="{% url 'club_list' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Clubs</a></li>
                    <li><a href="{% url 'techteam_list' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Tech Teams</a></li>
                    <li><a href="{% url 'otherbodies_list' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Other Bodies</a></li>
                    <li><a href="{% url 'portal_list' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Portals</a></li>
                    <li><a href="{% url 'achievement_list' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Achievements</a></li>
                    <li><a href="{% url 'halloffame_list' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Hall Of Fame</a></li>
                    <li><a href="{% url 'contact' %}" class="nav-link hover:text-gray-400 transition duration-300 ease-in-out">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="text-white w-[98vw] min-h-[90vh]">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="relative bottom-0 left-0 w-full bg-black text-white py-4 text-center">
        <p>&copy; 2024 Your Website Name. All rights reserved.</p>
    </footer>
</body>
<script>
    const navbarToggler = document.getElementById('navbar-toggler');
    const mobileMenu = document.getElementById('mobileMenu');
    navbarToggler.addEventListener('click', function () {
        mobileMenu.classList.toggle('hidden');
    });
    window.addEventListener('resize', function () {
        if (window.innerWidth >= 770) {
            if (!mobileMenu.classList.contains('hidden')) {
                mobileMenu.classList.add('hidden');
            }
        }
    });
</script>
</html>